# Hugging Face configuration
# Set HF_TOKEN if downloading gated models
HF_TOKEN=""

# Set HF_HOME to a persistent directory to cache downloaded models.
# Change this path to where you want models stored.
HF_HOME="/tmp/hf_cache"

OPENAI_BASE_URL=http://localhost:8000/v1
OPENAI_API_KEY=EMPTY
